<div>
    <h3 class="subheader-centered">{{this.user.username}}'s To-Do List</h3>
    <form [formGroup]="taskForm">
        <mat-form-field>
            <input matInput placeholder="Task name" formControlName="taskName">
        </mat-form-field>
        <mat-checkbox formControlName="isCompleted">Completed</mat-checkbox>
        <button mat-stroked-button [disabled]="!taskForm.value.taskName" type="button" (click)="addTask()">Create task</button>
    </form>
    <ul *ngIf="tasks$ | async as tasks">
        <li *ngFor="let task of tasks.todos; index as i">{{ i + 1 }}. {{ task.todo }}</li>
    </ul>
</div>
