<div>
    <h3 class="subheader-centered">{{this.user.username}}'s To-Do List</h3>
    <form [formGroup]="taskForm">
        <mat-form-field>
            <input matInput placeholder="Task name" formControlName="taskName">
        </mat-form-field>
        <mat-checkbox formControlName="isCompleted">Completed</mat-checkbox>
        <button mat-stroked-button [disabled]="!taskForm.value.taskName" type="button" (click)="addTask()">Create task</button>
    </form>
    <div *ngIf="todoList">
        <app-todo-item [todos]="todoList.todos"></app-todo-item>
    </div>
</div>
